body {font-family: Georgia, 'Times New Roman', Times, serif;}
   h1, h2 { color: green;}
    .special {color: purple}
    .evenrow{ background-color: blue;}
    h1{font-size: 20 em;}
    h2{font-size: 15 em;}